nav.main ul {
  list-style-type: none;
}

nav.main li {
  display: inline-block;
}

nav.main a {
  padding: 5px 10px;
  display: inline-block;
  background-color: black;
  color: white;
}

nav.main a.active {
  background-color: blue;
}

nav.main a:hover {
  background-color: red;
}
